---
layout: default
title: sam.github.com
---

<ul class="posts">
  {% for post in site.posts limit: 5 %}
    <header class='ten columns offset-by-four'>
      <h2><a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">{{ post.title }}</a></h1>
    </header>

    <div class='five columns offset-by-four gray'>
      {{ post.date | date_to_string }}
    </div>
    
    <article class='ten columns offset-by-four'>
      {{ post.content }}
    </article>
    <hr class="front">
    </br>
  {% endfor %}
</ul>

<ul id="posts">
  {% for post in site.posts offset:5 %}
    <li>
      <a class="nine columns offset-by-four" href="{{ post.url }}">{{ post.title }}</a>
      <span class="three columns">{{ post.date | date_to_string }}</span>
    </li>
  {% endfor %}
</ul>